p, h1,h2,h3,h4,li{
    font-family: 'Libre Caslon Text',serif;
}
body{
    font-family: 'Montserrat',sans-serif;
}
header{
    padding-right: 80px !important;
}
.carousel-item img{
    filter: brightness(70%);
}
section{
    background-color: rgb(43, 46, 53);
}
.section-2{
    background-color: rgb(31, 33, 50)!important;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.animate:hover{
    transform: scale(1,1.1);
}
.animate-image{
    filter: brightness(70%);
}
.animate-image:hover{
    transform: scale(1,1.1);
}
.box-shadow{
    box-shadow: 0 4px 20px rgba(235, 234, 234, 0.2);
}
@media (min-width: 992px) {
    .carousel-inner img {
      height: 500px;  
      object-fit: cover;
    }
  }

@media screen and (min-width: 1200px){
    .card-container{
        height: 550px;
    }
}
@media screen and (max-width: 1199px){
    .card-container{
        height: 1050px;
    }
}
@media screen and (max-width: 575px){
    .card-container{
        height: 2000px;
    }
}